.emptystate {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.emptystate__content {
  color: var(--greyColor);
  line-height: 2.1rem;
  margin-top: 1.5rem;
}

.content {
  padding: var(--margin) 0;
}

.title_mini {
  font-size: 1.2rem;
  line-height: 1.4rem;
  padding-left: var(--margin);
  text-transform: uppercase;
}

.orders__wrapper {
  display: flex;
  flex-direction: column;
}

.orders {
  padding-bottom: 15rem;
}

.total {
  background-color: var(--lightGreyColor);
  border-top: 1px solid #efefef;
  bottom: 8rem;
  display: flex;
  font-weight: 500;
  justify-content: space-between;
  line-height: 2.1rem;
  padding: 1.6rem var(--margin);
  position: fixed;
  width: 100%;
}

.hide {
  display: none;
}

@media screen and (min-width: 700px) {

  .total {
    width: 72%;
  }

  .emptystate {
    margin: 20vw;
  }
}
