.header {
  background-color: var(--pinkColor);
  background-image: url(../assets/img/plan-based-coffee.png);
  background-position: 90% 50%;
  background-repeat: no-repeat;
  width: 100%;
}

.h1-like {
  font-size: 2.6rem;
  line-height: 2.8rem;
  margin-bottom: 1rem;
  padding-top: .6rem;
  width: 60%;

  &::after {
    content: '\1F331';
  }
}

.h2-like {
  font-size: 1.2rem;
  line-height: 1.4rem;
  text-transform: uppercase;
}
