@import './css/reset.css';
@import './css/vars.css';
@import './css/helpers.css';
@import './css/layout.css';
@import './css/header.css';
@import './css/content.css';
@import './css/drink.css';

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

/* stylelint-disable */
*, *:before, *:after {
  box-sizing: inherit;
}
/* stylelint-enable */

body {
  background-color: var(--backgroundColor);
  color: var(--blackColor);
  font-family: Roboto, sans-serif;
  font-size: 1.8rem;
}
